$FormatGEO
{{#waypoints}}
{{name}}    {{#lat}}{{hemisphere}} {{degree}} {{minute}} {{second}}{{/lat}}    {{#long}}{{hemisphere}} {{degree}} {{minute}} {{second}}{{/long}}   {{altitude}}  {{description}}
{{/waypoints}}